.footer-column {
    color: #bbc0c4;
    display: flex;
    flex-direction: column;
}

.footer-title {
    color: #A0A5A9;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-section {
    padding-bottom: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.footer-text {
    color: #bbc0c4;
    margin: 0px;
}

.footer-link {
    color: #bbc0c4;
    text-decoration: none;
}

.footer-link:hover {
    color: #D7DCE0;
}
