@import './../../constants';

.top-panel {
  max-width: 100%;
  position: relative;
  align-items: flex-start;
}

.mat-toolbar-single-row {
  height: 58px !important;
  padding: 0px;
}

mat-toolbar .no-right-margin {
  margin-right: 0px;
}

mat-toolbar a {
  display: inline-block;
  margin: 0 10px;
  color: $header-text-color;
  text-decoration: none;
  padding-top: 14px;
}

.header {
  width: 100%;
  z-index: 3;
  max-width: 1064px;
  margin: auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: $header-background-color;
}

.header li a {
  display: block;
  text-decoration: none;
  padding-bottom: 14px;
  margin-left: 10px;
}

.header li a:hover,
.header .menu-btn:hover {
  color: $header-text-hover-color;
}

.header .logo {
  display: block;
  float: left;
  font-size: 26px;
  text-decoration: none;
  color: $header-text-color;
  margin: 0px;
  padding-left: 16px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.menuButton {
  height: 60px;
  color: white;
  font-size: 20px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: $header-text-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $header-text-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

li.active {
  border-bottom: 0px;
  border-left: 5px solid $footer-background-color;
  a {
    color: $header-text-color;
  }
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .mat-toolbar-single-row {
    height: 64px !important;
    padding: 0 16px;
  }

  .header .logo {
    padding-left: 0px;
  }  

  li.active {
    border-left: 0px;
    border-bottom: 3px solid $footer-background-color;
    a {
      color: $header-text-color;
    }
  }
}

.flag-icon {
  width: 40px;
  height: 40px;
  padding-top: 8px;
  padding-left: 10px;

  &:hover {
    cursor: pointer;
  }
}