<mat-toolbar color="primary" class="top-panel">
  <header class="header">
    <a href="/" class="logo">Zielony Domek</a>
    <img src="./assets/img/en.png" class="flag-icon" (click)="changeToEnglish()" />
    <img src="./assets/img/pl.png" class="flag-icon" (click)="changeToPolish()" />
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label #menuButton class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a (click)="linkClicked()" routerLink="/about">{{ 'links.about' | translate }}</a></li>
      <li><a (click)="linkClicked()" routerLink="/gallery">{{ 'links.gallery' | translate }}</a></li>
      <li><a (click)="linkClicked()" routerLink="/destination">{{ 'links.destination' | translate }}</a></li>
      <li><a (click)="linkClicked()" routerLink="/reservations" class="no-right-margin">{{ 'links.reservations' | translate }}</a></li>
    </ul>
  </header> 
</mat-toolbar>
