<div class="footer-main">
  <div class="footer-grid">
    <div class="footer-grid-element align-left">
      <div class="footer-column" >
        <div class="footer-title">
          <p>Krasnobród</p>
        </div>
        <div class="footer-section">
          <a href="http://www.dinozaury-krasnobrod.pl/pl" class="footer-link">{{'attractions.dinosaur-park' | translate }}</a>
        </div>
        <div class="footer-section">
          <a href="https://pl.sflcode.com/hotel-widget/aMYc97iPEjPC5GpmJrspYVSs/1/58433" class="footer-link">{{'attractions.museum-sacral-art' | translate }}</a>
        </div>
        <div class="footer-section">
            <a href="https://www.polskieszlaki.pl/ptaszarnia-w-krasnobrodzie.htm" class="footer-link">{{'attractions.aviary' | translate }}</a>
        </div>
        <div class="footer-section">
          <a href="http://linowypark.pl/" class="footer-link">{{'attractions.rope-park' | translate }}</a>
        </div>
        <div class="footer-section">
          <a href="http://www.magiczneroztocze.pl/turystyka/atrakcje/7-zalew-w-krasnobrodzie" class="footer-link">{{'attractions.lagoon' | translate }}</a>
        </div>
        <div class="footer-section">
          <a href="http://www.magiczneroztocze.pl/turystyka/atrakcje/4-kapliczka-na-wodzie" class="footer-link">{{'attractions.chapel' | translate }}</a>
        </div>
        <div class="footer-section">
          <a href="https://www.polskieszlaki.pl/kalwaria-krasnobrodzka.htm" class="footer-link">{{'attractions.calvary' | translate }}</a>
        </div>
        <div class="footer-section">
          <a href="https://www.polskieszlaki.pl/kosciol-nawiedzenia-nmp-w-krasnobrodzie.htm" class="footer-link">{{'attractions.church' | translate }}</a>
        </div>
      </div>
    </div>
    <div class="footer-grid-element align-center">
      <div class="footer-column" >
          <div class="footer-title">
            <p>{{'footer.contact' | translate}}</p>
          </div>
          <div class="footer-section location-label">
              <p class="footer-text">{{ 'footer.location' | translate }}</p>
            </div>
          <div class="footer-section">
            <p class="footer-text">ul. Lelewela 167</p>
          </div>
          <div class="footer-section">
            <p class="footer-text">22 - 440 Krasnobród</p>
          </div>
          <div class="footer-section mobile-phone-label">
            <p class="footer-text">{{ 'footer.phone' | translate }}</p>
          </div>
          <div class="footer-section">
            <p class="footer-text">605 - 287 - 874</p>
          </div>
          <div class="footer-section">
            <p class="footer-text">698 - 411 - 296</p>
          </div>
      </div>
    </div>
    <div class="footer-grid-element align-right">
      <div class="footer-column">
          <div class="footer-title">
            <p>{{'footer.follow' | translate}}</p>
          </div>
          <div class="footer-section">
            <a href="https://www.facebook.com/zielonydomek.krasnobrod/"><img class="footer-icon" src="./assets/img/facebook.svg" /></a>
            <a href="https://www.facebook.com/zielonydomek.krasnobrod/" class="footer-link">Facebook</a>
          </div>
          <div class="footer-section">
            <a href="https://www.instagram.com/explore/locations/373135789369629/zielony-domek-na-roztoczu-krasnobrod/"><img class="footer-icon" src="./assets/img/instagram.svg" /></a>  
            <a href="https://www.instagram.com/explore/locations/373135789369629/zielony-domek-na-roztoczu-krasnobrod/" class="footer-link">Instagram</a>
          </div>
      </div>
    </div>
  </div>
</div>