@import './../../../constants';

.footer-main {
    width: 100%;
    max-height: $footer-height;
    background-color: $footer-background-color;
    position: absolute;
    bottom: 0px;
} 

.footer-grid {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}

.footer-grid-element {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.align-right {
    justify-content: flex-end;
    padding-right: 16px;
}

.align-left {
    justify-content: flex-start;
    padding-left: 16px;
}

.align-center  {
    justify-content: center;
}

.footer-title {
    color: $footer-text-color;
    text-transform: uppercase;
    font-size: 20px;
}

.footer-section {
    padding-bottom: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 17px;
    height: 17px;
}

.footer-text {
    color: $footer-text-color;
    margin: 0px;
}

.footer-link {
    color: $footer-text-color;
    text-decoration: none;
}

.footer-link:hover {
    color: $footer-text-hover-color;
}

.mobile-phone-label {
    padding-top: 25px;
}

@media (max-width: 768px) {
    .align-left {
        display: none;
    }

    .footer-grid {
        justify-content: space-around;
    }

    .align-right {
        justify-content: center;
        padding-right: 0px;
    }

    .footer-grid {
        flex-direction: column;
    }

    .footer-title {
        display: none;
    }

    .footer-link {
        display: none;
    }
    
    .footer-icon {
        width: 80px;
        height: 80px;
    
        &:hover {
            cursor: pointer;
        } 
    }

    .align-center .footer-section {
        font-size: 20px;
        line-height: 20px;
        height: 24px;
    }

    .align-center .footer-column {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
        text-transform: uppercase;
    }

    .align-right .footer-column {
        display: flex;
        flex-direction: row;
        padding: 26px 0px;
    }

    .mobile-phone-label {
        display: none;
    }

    .location-label {
        display: none;
    }
}