<div class="footer-column">
    <div class="footer-title">
      <p>{{'footer.follow' | translate}}</p>
    </div>
    <div class="footer-section">
      <a href="https://www.facebook.com/zielonydomek.krasnobrod/"><img class="footer-icon" src="./assets/img/facebook.svg" /></a>
      <a href="https://www.facebook.com/zielonydomek.krasnobrod/" class="footer-link">Facebook</a>
    </div>
    <div class="footer-section">
      <a href="https://www.instagram.com/explore/locations/373135789369629/zielony-domek-na-roztoczu-krasnobrod/"><img class="footer-icon" src="./assets/img/instagram.svg" /></a>  
      <a href="https://www.instagram.com/explore/locations/373135789369629/zielony-domek-na-roztoczu-krasnobrod/" class="footer-link">Instagram</a>
    </div>
</div>
