$header-background-color: #61892F;
$content-background-color: rgb(233,235,238);
$content-side-background-color: white;
$footer-background-color: #222629;

$footer-text-color: #86C232;
$header-text-color: white;
$input-label-color: black;

$footer-text-hover-color: #61892F;
$header-text-hover-color: #222629;

$footer-height: 264px;
