/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './constants.scss';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$my-app-primary: mat-palette($mat-grey);
$my-app-accent: mat-palette($mat-grey);
	$my-app-warn: mat-palette($mat-grey, 900);
	// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn); 
	// Include theme styles for core and each component used in your app.
	// Alternatively, you can import and @include the theme mixins for each component
	// that you are using.
	@include angular-material-theme($my-app-theme); 
	

	//scrollbars:
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #6b6E70;
}

::-webkit-scrollbar-thumb {
    background: #6b6E70;
}

::-webkit-scrollbar-track {
    background: #474B4f;
}

::-webkit-scrollbar-track {
    background: #474B4f;
}


.mat-toolbar.mat-primary {
	background: $header-background-color;
}

.mat-form-field.mat-focused .mat-form-field-label {
	color: $input-label-color;
}